<div class="w-[90%] container mx-auto px-6 sm:px-15 py-15 my-8 bg-white shadow-sm rounded-xl">
<p class="text-center text-2xl font-bold">プライバシーポリシー</p>

<p class="mt-4 text-lg font-bold py-2">1.取得する情報</p>
<p>当アプリでは、以下の情報をお客様から取得いたします。</p>
<ul class="list-disc pt-2 pl-4">
  <li>氏名（ニックネームやペンネームを含む）</li>
  <li>メールアドレス</li>
  <li>外部サービスでお客様が利用するIDおよび、外部サービスのプライバシー設定によりお客様が開示を認めた情報</li>
  <li>Cookie（クッキー）を使用して生成された識別情報（IPアドレス、閲覧日時、ページ遷移履歴等）</li>
  <li>お客様が当社サービス内で作成したコンテンツ</li>
</ul>

<p class="mt-4 text-lg font-bold py-2">2.情報の利用目的</p>
<p>取得した情報は、以下の目的で使用いたします。</p>
<ul class="list-disc pt-2 pl-4">
  <li>本人確認および認証</li>
  <li>お問い合わせ対応</li>
  <li>ユーザー体験を向上させるためのサービス改善および分析</li>
</ul>

<p class="mt-4 text-lg font-bold py-2">3.第三者提供について</p>
<p>お客様の同意なしに、個人情報を第三者に提供することはありません。</p>


<p class="mt-4 text-lg font-bold py-2">4.アクセス解析ツールの利用</p>
<p>当社は、アクセス解析のために「Googleアナリティクス」を利用しています。GoogleアナリティクスはCookieを使用し、匿名のトラフィックデータを収集します。個人を特定するものではありません。</p>
<p>Cookieを無効にすることで、情報の収集を拒否することが可能です。詳しくは、お使いのブラウザの設定をご確認ください。</p>

<p class="mt-2">Googleアナリティクスの詳細については、以下をご参照ください：</p>
<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">https://marketingplatform.google.com/about/analytics/terms/jp/</a>

<p class="mt-4 text-lg font-bold py-2">5.プライバシーポリシーの変更</p>
<p>当アプリは、必要に応じてプライバシーポリシーを改定することがあります。</p>
<p>変更がある場合は、適切な方法でお知らせいたします。</p>

<p class="my-8 text-end text-base">以上</p>

</div>
