
<div class="flex items-center justify-center m-10">
  <%= image_tag 'SweetsLogロゴ（縦並び）'  %>
</div>
<div class= "m-20 text-center text-xl text-yellow-950">
  <ul>
    <li>「このスイーツ美味しかったなぁ」</li>
    <li>このような "幸せな記憶" を記録、</li>
    <li>そしてシェアできるアプリです。</li>
  </ul>
</div>