<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="flex items-center justify-center p-6">
  <%= image_tag 'SweetsLogロゴのみ', width: 500 %>
</div>
<div class= "m-6 text-center text-xl text-yellow-900 font-semibold">
  <ul>
    <li>「このスイーツ美味しかったなぁ」</li>
    <li>このような "幸せな記憶" を記録、</li>
    <li>そしてシェアできるアプリ</li>
    <li>　</li>
    <li>開発中です。完成をお待ちください。</li>
  </ul>
</div>
<div class="flex items-center justify-center">
  <div class="border-b border-yellow-950 w-370"></div>
</div>
<div class="flex items-center justify-center">
  <div class="grid grid-cols-2 divide-x h-75">
    <div>01</div>
    <div>02</div>
  </div>
</div>
<div class="flex items-center justify-center">
  <div class="border-b border-yellow-950 w-370"></div>
</div>
<div class="flex items-center justify-center">
  <div class="grid grid-cols-2 divide-x h-75">
    <div>03</div>
    <div>04</div>
  </div>
</div>
<div class="flex items-center justify-center">
  <div class="border-b border-yellow-950 w-370"></div>
</div>
<div class="mt-6">
  <%= link_to '会員登録（無料） をして使ってみる', new_user_registration_path, class: "block w-full text-lg text-center mr-4 text-yellow-50 bg-yellow-900 px-5 py-2.5" %>
</div>