<%= render 'shared/flash_messages' %>
<div class="flex items-center justify-center m-45">
  <%= image_tag "SweetsLogロゴ（ホーム）" %>
</div>
<div class="slider">
  <% @posts.each do |post| %>
    <% if post.image.attached? %>
      <div><%= image_tag(post.image.variant(resize_to_fill: [400, 400]), class:"rounded-xl") %></div>
    <% end %>
  <% end %>
</div>
<div class= "m-10 text-center text-base text-yellow-900">
  <ul>
    <li>美味しい<span class="font-bold">スイーツ</span>を食べた</li>
    <li>幸せな思い出、<span class="font-bold">ログ</span>しよう。</li>
    <li>　</li>
    <li>開発中です。完成をお待ちください。</li>
  </ul>
</div>
<div class="flex items-center justify-center">
  <div class="border-b border-yellow-950 w-370"></div>
</div>
<div class="flex items-center justify-center">
  <div class="grid grid-cols-2 divide-x h-75">
    <div>01</div>
    <div>02</div>
  </div>
</div>
<div class="flex items-center justify-center">
  <div class="border-b border-yellow-950 w-370"></div>
</div>
<div class="flex items-center justify-center">
  <div class="grid grid-cols-2 divide-x h-75">
    <div>03</div>
    <div>04</div>
  </div>
</div>
<div class="flex items-center justify-center">
  <div class="border-b border-yellow-950 w-370"></div>
</div>
<% unless user_signed_in? %>
  <div class="mt-6">
    <%= link_to '会員登録（無料） をして使ってみる', new_user_registration_path, class: "block w-full text-base text-center mr-4 text-yellow-50 bg-yellow-900 px-5 py-2.5" %>
  </div>
<% end %>