<p><%= @user.name %> 様</p>


<p>以下のリンクから個人情報の変更が可能です。</p>

<p>
  <%= link_to "個人情報を変更する", @url %>
</p>

<p>このリンクの有効期限は30分です。お早めにご確認ください。</p>

<p>SweetsLog</p>
<p>https://sweetslog.fly.dev/</p>