<p><%= @user.name %> 様</p><br><br>


<p>以下のリンクから個人情報の変更が可能です。</p>
<p>
  <%= link_to "個人情報を変更する", @url %>
</p><br><br>


<p>このリンクの有効期限は30分です。お早めにご確認ください。</p><br>

<p>※この内容に心当たりが無い場合は、メールを無視してください。</p><br>

<p>SweetsLog</p>
<p>https://sweetslog.fly.dev/</p>