<div class="w-[90%] md:max-w-screen-lg container mx-auto my-8 px-6 md:px-15 py-6 bg-white shadow-sm rounded-xl">
  <div class="text-lg mb-2">コメント（<%= @post.comments.count %>件）</div>

  <%= render "comments/form", comment: @comment, post: @post %>

  <div id="comments-area" class="mb-3">
    <%= render @comments %>
  </div>
</div>