<div class= "mt-15 mb-10 font-bold text-center text-3xl text-yellow-900">
  今食べたいスイーツ診断
</div>

<div class="container mx-auto px-6 py-15 my-15 bg-white rounded-xl min-h-screen-sm max-w-screen-sm">
  <div class="justify-items-center">
    <%= turbo_frame_tag "diagnoses_result" do %>
      <%= render "form" %>
    <% end %>
    <div id="diagnoses_result"></div>
  </div>
</div>