<div class="w-[90%] md:w-150 my-20 lg:my-54 container mx-auto px-2 py-10 bg-white text-center shadow-sm shadow-2xs rounded-xl">
  <p>ご登録メールアドレスに、メールを送信しました。</p>
  <p>メールを確認し、記載の個人情報変更URLから変更を行ってください。</p>
</div>