<div class= "mt-15 mb-10 font-bold text-center text-3xl text-yellow-900">
  <%= @user.name %>の投稿
</div>
<%= render "posts/search_form", q: @q, url: my_posts_user_path %>
<% if @posts.present? %>
  <div class="mt-15 max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-7 justify-items-center">
      <%= render @posts %>
    </div>
    <nav class="mt-10">
      <%= pagy_nav(@pagy).html_safe %>
    </nav>
  </div>
<% else %>
  <div class="mb-3 text-center">掲示板がありません</div>
<% end %>