<header class="font-mono text-xs">
  <nav class="flex items-center justify-between flex-wrap bg-yellow-50 p-3">
    <div class="flex items-center justify-center ml-6">
      <%= link_to root_path do %>
        <%= image_tag 'SweetsLogロゴ（ヘッダー）', width: 250 %>
      <% end %>
    </div>
    <div>
    <ul class="flex mr-4">
      <%= link_to 'ログイン', new_user_session_path, class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
    </ul>
  </nav>
  <div class="flex items-center justify-center">
    <div class="border-b border-yellow-950 w-370"></div>
  </div>
</header>