<header>
  <nav class="flex items-center justify-between flex-wrap bg-yellow-50 p-6">
    <div class="flex items-center flex-shrink-0 text-yellow-950 mr-6">
      <span class="font-semibold text-2xl tracking-tight">TEST APP</span>
    </div>
    <ul class="flex mr-4">
      <%= link_to 'ログイン', new_user_session_path, class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: "mr-4 text-yellow-50 bg-yellow-900 rounded-lg px-5 py-2.5" %>
    </ul>
  </nav>
  <div class="flex-1 border-b border-gray-500"></div>
</header>