<div class="w-[90%] md:max-w-screen-lg container mx-auto px-5 py-15 my-15 bg-white shadow-sm shadow-2xs rounded-xl">
  <div class="text-lg mx-10">コメント</div>

  <div class="my-20 text-center">現在コメント機能を開発中です。</div>
</div>