<%= link_to like_path(current_user.likes.find_by(post_id: post.id)), id: "unlike-button-for-post-#{post.id}", data: { turbo_method: :delete } do %>
  <span style="color:#FF0033; font-size: 20px;">❤︎</span>
<% end %>