<%= render "shared/flash_messages" %>
<div class= "mt-15 mb-10 font-bold text-center text-3xl text-yellow-900">
  ポスト編集ページ
</div>

<%= render 'shared/flash_messages' %>

<%= render "form", { post: @post } %>