<%= render 'shared/flash_messages' %>
<% if @posts.present? %>
  <div class="m-4 flex flex-wrap gap-4 justify-center items-center">
    <%= render @posts %>
  </div>
<% else %>
  <div class="mb-3 text-center">掲示板がありません</div>
<% end %>