@import "tailwindcss";
@import "./pagy.css";
@import "./simple_calendar.css";
@import "./fade_in.css";
@import "./header.css";
@import "./top.css";

body {
  background-color: var(--color-yellow-50);
  min-height: 100vh;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem; line-height: 1.25rem;
}
