.brown-button {
  margin-right: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--color-yellow-50);
}

.brown-button:hover {
  background-color: var(--color-yellow-900);
  color: var(--color-yellow-50);
}

.current-brown-button{
  margin-right: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--color-yellow-900);
  color: var(--color-yellow-50);
}