.top-brown-button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-yellow-900);
  color: white;
}

.top-brown-button:hover {
  background-color: var(--color-yellow-700);
  color: white;
}