<p><%= @resource.name %> 様</p><br><br>


<p>以下のリンクからパスワードにの再設定が可能です。</p>
<p>
  <%= link_to "パスワードを再設定する", edit_password_url(@resource, reset_password_token: @token) %>
</p><br><br>


<p>※この内容に心当たりが無い場合は、メールを無視してください。</p><br>

<p>SweetsLog</p>
<p>https://sweetslog.fly.dev/</p>
